// GRID

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & > * {
    grid-column: 1 / -1;
  }
}

.gap-xs {
  gap: 0.25rem !important;
}

.gap-sm {
  gap: 0.5rem !important;
}

.gap-md {
  gap: 0.75rem !important;
}

.gap-lg {
  gap: 1rem !important;
}

.gap-xl {
  gap: 1.25rem !important;
}

.gap-2xl {
  gap: 1.5rem !important;
}

.gap-3xl {
  gap: 1.75rem !important;
}

.gap-2xl {
  gap: 2rem !important;
}

.span-1 {
  grid-column: span 1 !important;
}

.span-2 {
  grid-column: span 2 !important;
}

.span-3 {
  grid-column: span 3 !important;
}

.span-4 {
  grid-column: span 4 !important;
}

.span-5 {
  grid-column: span 5 !important;
}

.span-6 {
  grid-column: span 6 !important;
}

.span-7 {
  grid-column: span 7 !important;
}

.span-8 {
  grid-column: span 8 !important;
}

.span-9 {
  grid-column: span 9 !important;
}

.span-10 {
  grid-column: span 10 !important;
}

.span-11 {
  grid-column: span 11 !important;
}

.grid-row--2 {
  grid-row: 2 !important;
}

.grid-row--3 {
  grid-row: 3 !important;
}

.grid-row--4 {
  grid-row: 4 !important;
}

.grid-row--5 {
  grid-row: 5 !important;
}

.grid-row--6 {
  grid-row: 6 !important;
}

.grid-row--7 {
  grid-row: 7 !important;
}

.grid-row--8 {
  grid-row: 8 !important;
}

.grid-row--9 {
  grid-row: 9 !important;
}

.grid-row--10 {
  grid-row: 10 !important;
}