.root {
  display: flex;
  //justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;

  ul {
    display: flex;
    gap: .2rem;
    user-select: none;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: var(--navy-dark);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.0175rem;
        cursor: pointer;
        text-align: center;
        transition: color 0.15s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.625rem;
        padding: 0.75rem 1rem;
        background: transparent;

        &:hover {
          background: var(--white);
        }
      }
    }

    li[class="selected"] {
      a {
        cursor: not-allowed;
        pointer-events: none;
        background: var(--white);
      }
    }

    li[class="previous disabled"],
    li[class="next disabled"] {
      a {
        border-radius: 0.5rem;
        border: 1px solid var(--light-gray-3);
        background: var(--white);
        padding: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: not-allowed;
        pointer-events: none;

        svg {
          path {
            stroke: silver;
          }
        }
      }
    }

    li[class="previous"],
    li[class="next"] {
      a {
        border-radius: 0.5rem;
        border: 1px solid var(--light-gray-3);
        background: var(--white);
        padding: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    li[class="previous"],
    li[class="previous disabled"] {
      margin-right: .5rem;

      a {
        svg {
          max-width: 1.25rem!important;
          min-width: 1.25rem!important;
          transform: rotate(90deg);
        }
      }
    }

    li[class="next"],
    li[class="next disabled"] {
      margin-left: .5rem;

      a {
        svg {
          max-width: 1.25rem!important;
          min-width: 1.25rem!important;
          transform: rotate(-90deg);
        }
      }
    }
  }
}