.checkbox {
  width: 1.125rem;
  height: 1.125rem;
  cursor: pointer;
}

.checkbox-label {
  color: var(--navy-dark);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}