.root {
  padding: 1.2rem 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--dark-teal);

  .logo {
    align-items: center;
    gap: .75rem;
    display: flex;
    justify-content: flex-start;

    span {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-size: 1.75rem;
      font-style: normal;
      color: var(--white);
      font-weight: 500;
      line-height: normal;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: .2rem;
  }


  .profile-container {
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;

    .profile {
      display: flex;
      justify-content: center;
      cursor: pointer;
      align-items: center;
      gap: .5rem;
      padding-right: .4rem;

      .status-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .status {
          padding: 0.75rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--light-white-opacity);

        }

        .name {
          color: var(--white);
          text-align: center;
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 1.5rem */
          //letter-spacing: -0.02rem;
        }
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;

        svg {
          transition: all .3s ease-out;

          path {
            stroke: var(--white);
          }
        }
      }

      .active-icon {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    .account {
      position: absolute;
      width: 10rem;
      background: var(--white);
      box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.15);
      border-radius: .4rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      top: 110%;
      right: 0;
      gap: .4rem;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all .1s ease-out;

      .logout {
        padding: .7rem 1rem;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        width: 100%;

        span {
          color: var(--dark-slate);
          text-align: center;
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 1.5rem */
        }

        svg {
          path {
            fill: var(--red);
          }
        }
      }
    }

    .active-account {
      opacity: 1;
      visibility: visible;
    }
  }
}