.root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem;

  .icon-wrapper {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    width: 2.25rem !important;
    height: 2.25rem !important;
  }

  .icon {
    width: 2.25rem !important;
    height: 2.25rem !important;
    display: inline-block;
    -webkit-animation: spin .75s linear infinite;
    -moz-animation: spin .75s linear infinite;
    animation: spin .75s linear infinite;

    svg {
      fill: var(--gray-dark);
    }
  }
}

.screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: var(--primary-blue);

  svg {
    fill: var(--white)!important;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
