.root {
  .diagram {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .container {
      min-height: 2.5rem;
      border: 1.5px solid var(--primary-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
    }

    .container:nth-child(1) {
      border: none;
    }

    .container:nth-child(2) {
      grid-column: span 4;
      border-top-style: dashed;
      border-right: none;
      border-left-style: dashed;
      border-bottom: none;
    }

    .container:nth-child(3) {
      grid-column: span 2;
      border-top-style: dashed;
      border-right-style: dashed;
      border-left-style: dashed;
      border-bottom: none;
    }

    .container:nth-child(4) {
      grid-row: span 3;
      border-top-style: dashed;
      border-left-style: dashed;
      border-bottom-style: dashed;
      border-right: none;

      input {
        transform: rotate(-90deg);
      }
    }

    .container:nth-child(5) {
      grid-column: span 4;
      border-bottom: none;
    }

    .container:nth-child(6) {
      grid-column: span 2;
      border-top-style: dashed;
      border-left: none;
      border-bottom: none;
      border-right-style: dashed;
    }

    .container:nth-child(7) {
      grid-column: span 6;
      border-bottom: none;
    }

    .container:nth-child(8) {
      grid-column: span 4;
    }

    .container:nth-child(9) {
      grid-column: span 2;
      border-bottom-style: dashed;
      border-left: none;
      border-right-style: dashed;
    }
  }


  .second {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    .container {
      min-height: 3.5rem;
      border: 1.5px solid var(--primary-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
    }


    .container:nth-child(1) {
      grid-row: span 2;
      border-top-style: dashed;
      border-left-style: dashed;
      border-bottom-style: dashed;
      border-right: none;

      input {
        transform: rotate(-90deg);
      }
    }

    .container:nth-child(2) {
      grid-column: span 6;
      border-bottom: none;
    }

    .container:nth-child(3) {
      grid-column: span 6;
      border-top-style: dashed;
    }
  }
}