.root {
  overflow-x: scroll;
  max-width: calc(100vw - 19.5rem);
  padding-bottom: 1rem;

  .titles {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: flex-start;

    h1 {
      color: var(--blue-deep);
      min-width: 15rem;
      text-align: center;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;

    div {
      min-width: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}