.root {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-pale);
  background: var(--white);
}

.screen {
  flex: 1;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}