.navItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.875rem 2rem;
  border-radius: 0.875rem;
  text-decoration: none;
  transition: background 0.1s ease-in;

  .title {
    transition: color 0.1s ease-in;
    color: var(--cool-gray);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .icon {
    svg {
      path {
        fill: var(--cool-gray);
        transition: fill 0.1s ease-in;
      }
    }
  }

  &:hover {
    background: var(--light-white-opacity);

    .title {
      color: var(--white);
    }


    .icon {
      svg {
        path {
          fill: var(--white);
        }
      }
    }

  }
}


.active {
  background: var(--light-white-opacity);

  .icon {
    svg {
      path {
        fill: var(--white);
      }
    }
  }

  .title {
    color: var(--white);
  }
}