.root {
  position: relative;

  &.error {
    input[data-title='input'],
    textarea {
      border: 1px solid var(--red);
      box-shadow: 0 0 0 1px var(--red);
    }
  }

  &.radius {
    input[data-title='input'],
    textarea {
      border-radius: 6.25rem;
    }
  }
}


.wrapper {
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-bottom: .75rem;

  label {
    color: var(--black);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}


.input,
textarea {
  padding: 1rem;
  color: var(--navy-dark);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.40625rem */
  letter-spacing: 0.05625rem;
  border-radius: 0.625rem;
  background: var(--gray-lightest);
  border: 1px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::placeholder {
    color: var(--gray-light);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.40625rem */
    letter-spacing: 0.05625rem;
  }

  &:focus {
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 1px var(--primary-blue);
  }
}

textarea {
  resize: none;
}

.error__message {
  display: inline-block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--red);
  margin-top: .3rem;
  font-style: normal;
}

.icon {

  .input-wrapper {
    position: relative;

    .input {
      padding-left: 3.5rem !important;
    }

    .icon-wrapper {
      user-select: none;
      padding: .4rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 1rem;
      top: 50%;
      transform: translateY(-52%);
      cursor: pointer;
    }
  }

  .right {
    .input {
      padding-right: 3.5rem !important;
      padding-left: 1rem !important;
    }

    .icon-wrapper {
      right: 1rem;
      left: auto;
    }
  }
}
