:root {
  // SIZES
  --loader-size: 4rem;

  // COLORS
  --black: #232323;
  --gray-light: #A6B1BB;
  --navy-dark: #10384F;
  --gray-softer: #EEE;
  --gray-lightest: #F5F5F5;
  --white: #FFF;

  --gray-medium: #B1B1B1;
  --primary-blue: #146DF3;
  --gray-dark: #383838;
  --gray-pale: #E5E7EB;
  --gray-muted: #CACACA;
  --gray-soft: #E0E0E0;

  --gray-deep: #333;
  --blue-deep: #343C6A;
  --red: #F00;
  --yellow-bright: #FFCC47;
  --green-bright: #2CA800;

  --primary-gradient: linear-gradient(180deg, #146DF3 0%, #02298A 84.79%, #021B79 100%);
}
