.root {
  background: var(--white);
  width: 100%;
  border-radius: 0.625rem;
  overflow: hidden;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background: var(--white);
      user-select: none;

      tr {
        th {
          padding: 1rem;
          border-radius: 0.625rem;
          text-align: start;
          border: none;
          color: var(--navy-dark);
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-size: 0.875rem;
          font-weight: 600;
          letter-spacing: 0.0525rem;
          text-transform: uppercase;
          border-bottom: 1px solid var(--gray-pale);
          vertical-align: middle;

          // --- Tartiblash (Sorting) qismi ---
          .headerContent {
            display: flex;
            align-items: center;
            gap: 0.6rem; // Ikonka kattalashgani uchun oraliqni biroz kengaytirdik
            cursor: pointer;
          }

          .sortIcons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap: 2px;

            .icon {
              color: var(--gray-pale);
              transition: all 0.2s ease;
              display: block;

              width: 14px;
              height: 14px;

              &.active {
                color: #146DF3;
              }
            }
          }
        }
      }
    }

    tbody {
      transition: color 0.15s ease-in-out;

      tr {
        border-bottom: 1px solid var(--gray-pale);

        td {
          padding: 1.25rem 1rem;
          max-width: 15rem;
          font-family: Poppins, Arial, Helvetica, sans-serif;
          color: var(--navy-dark);
          font-size: 0.9375rem;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: 0.05625rem;
        }

        &:nth-child(even) {
          background: var(--gray-lightest);
        }

        &:last-child {
          border-bottom: none !important;
        }
      }

      .rowNew {
        background-color: rgba(20, 109, 243, 0.06);
      }

      .rowInProcess {
        background-color: rgba(255, 170, 0, 0.08);
      }

      .rowFinished {
        background-color: rgba(0, 180, 120, 0.08);
      }

    }
  }
}

.empty {
  table {
    height: 100%;

    tbody {
      tr {
        td {
          text-align: center;
          color: var(--dark-slate) !important;
        }

        &:hover {
          background: var(--white) !important;
        }
      }
    }
  }
}

.loader {
  table {
    height: 100%;

    tbody {
      tr {
        background: var(--white) !important;

        &:hover {
          background: var(--white) !important;
        }
      }
    }
  }
}

.screen {
  flex: 1;
}

.spacing {
  td {
    padding: .2rem !important;
  }

  &:hover {
    background: var(--white) !important;
  }
}